- var metaTitle = meta.title;
- var metaDescription = meta.description;
- var metaAuthor = meta.author;
  block data

doctype html
html
  head
    meta(charset="utf-8")
    title #{metaTitle} - #{metaDescription}
    meta(name="description", content=metaDescription)
    meta(name="author", content=metaAuthor)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon.png")
    link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css", rel="stylesheet")
    link(href="https://tools.simboonlong.com/css/common.css", rel="stylesheet")
    block styles
  body.text-gray-800
    .flex.flex-col.h-screen.px-4
      main.flex-grow
        block content
      block footer
    block scripts