doctype html
html
  head
    meta(charset="utf-8")
    title #{meta.title} - #{meta.description}
    meta(name="description", content=meta.description)
    meta(name="author", content=meta.author)
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="icon", type="image/png", sizes="32x32", href="./images/favicon.png")
    link(href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css", rel="stylesheet")
    style.
      a {
        color: #6f6fff;
      }
      a:hover {
        text-decoration: underline;
      }
  body.text-gray-800
    .flex.flex-col.h-screen.px-4
      main.flex-grow
        .container.mx-auto.py-8
          .flex.flex-wrap.items-center
            .w-16.mr-6
              img.w-full(src="./images/components.svg", alt="components")
            .flex-grow
              h1.text-4xl.font-semibold Components
              p.text-xl.font-medium Handcrafted components that might be of use.
          hr.my-8
          section.max-w-lg.mb-8
            a.block.my-2.text-xl(href="./overlay/") Overlay
            ul.list-disc.pl-4
              li Overlay, lightbox, modal, dialog or whatever you call it.
      footer.flex-shrink-0.py-5
        .container.mx-auto
          p.mb-0
            i Github @&nbsp;
              a(href="https://github.com/simboonlong/components", target="_blank", rel="noopener noreferrer") Components.
          p
            i Author &copy;&nbsp;
              a(href="http://simboonlong.com", target="_blank", rel="noopener noreferrer") Sim Boon Long.
